<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="Regression Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/kishor_ghadge/IdeaProjects/Maven_Project">
        <classes>
<!--        <class name="Tests.EditProfileTest"><methods><include name="EditProfileFlow"/></methods></class>-->
        <class name="Tests.ForgetPwdTest"><methods><include name="click_on_cancel_button_on_forgot_password"/></methods></class>
            <class name="Tests.DocProcessFreeFormTest"><methods><include name="search_project"/></methods><methods><include name="search_document"/></methods><methods><include name="update_document_cancel_it"/></methods><methods><include name="hide_unhide_analytics"/></methods><methods><include name="documents_filter"/></methods><methods><include name="items_per_page"/></methods><methods><include name="next_page_previous_page_first_page_last_page"/></methods><methods><include name="anti_clockwise_clockwise_zoomin_zoomout_navigate_right_left"/></methods></class>
        </classes>
    </test>
</suite>
